<!DOCTYPE html>
<html>
  <head>
    <title>Room Allocation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>Welcome to the Circus</p>
  </body>
</html>
