<form>
	<md-content>
		<section layout="column" layout-align="center center" layout-wrap>
			<h2>Log In</h2>
			<p>{{error_message}}</p>
			<md-input-container>
				<label>Username</label>
				<input ng-model="user.username" type="text">
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input ng-model="user.password" type="password">
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="login()">Log in</md-button>
		</section>
	</md-content>
</form>