<form>
	<fieldset>
		<legend> Room Mate Preference Order</legend>
		scale:<input type="number" name="scale" min="1" max="100" ng-model="friendValue"> Wingmate:
		<select ng-options="item for item in friendList" ng-model="friend"></select>
		<button type="button" ng-click="addFriendPref()">Add</button><br>
	</fieldset>
</form>
<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Room Mate Preference Order</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container>
				<label>Scale</label>
				<input ng-model="friendValue" type="number" min="1" max="100">
			</md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="addFriendPref()">Add</md-button>
        </md-card-actions>
      </md-card>
<form>
	<fieldset>
		<legend> Room Preference Order</legend>
		scale:<input type="number" min="1" max="100" ng-model="roomValue"> Room:
		<select ng-options="item for item in roomList" ng-model="room"></select>
		<button type="button" ng-click="addRoomPref()">Add</button><br>
	</fieldset>
</form>

{{friendPriority}}
{{roomPriority}}
{{err}}
<form>
	<fieldset>
		<legend> Other Priorities</legend>
		Noise Levels: <input type="radio" name="tooloud" value="5"> Too loud
		<input type="radio" name="loud" value="4"> loud
		<input type="radio" name="normal" value="3" checked> normal
		<input type="radio" name="quiet" value="2"> quiet
		<input type="radio" name="tooquiet" value="1"> tooquiet<br> Do you like to keep the lights on late at night?<input type="radio"
			name="yes" value="1">yes
		<input type="radio" name="no" value="0"> no<br>
		<input value="Add" type="submit" ng-click="submit()"><br>
	</fieldset>
</form>