<div layout="row" layout-align="space-around">
<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Room Mate Preference Order</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content layout="row">
		<md-input-container>
			<label>Scale</label>
			<input ng-model="friendValue" type="number" min="1" max="100">
		</md-input-container>
		<md-input-container>
			<label>Friends List</label>
			<md-select ng-model="friend">
				<md-option ng-repeat="item in friendList" ng-value="item">
					{{item}}
				</md-option>
			</md-select>
		</md-input-container>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-raised" ng-click="addFriendPref()">Add</md-button>
	</md-card-actions>
</md-card>

<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Room Preference Order</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content layout="row">
		<md-input-container>
			<label>Scale</label>
			<input ng-model="roomValue" type="number" min="1" max="100">
		</md-input-container>
		<md-input-container>
			<label>Rooms List</label>
			<md-select ng-model="room">
				<md-option ng-repeat="item in roomList" ng-value="item">
					{{item}}
				</md-option>
			</md-select>
		</md-input-container>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-raised" ng-click="addRoomPref()">Add</md-button>
	</md-card-actions>
</md-card>

</div>

{{friendPriority}}
{{roomPriority}}
{{err}}
<form>
	<fieldset>
		<legend> Other Priorities</legend>
		Noise Levels: <input type="radio" name="tooloud" value="5"> Too loud
		<input type="radio" name="loud" value="4"> loud
		<input type="radio" name="normal" value="3" checked> normal
		<input type="radio" name="quiet" value="2"> quiet
		<input type="radio" name="tooquiet" value="1"> tooquiet<br> Do you like to keep the lights on late at night?<input type="radio"
			name="yes" value="1">yes
		<input type="radio" name="no" value="0"> no<br>
		<input value="Add" type="submit" ng-click="submit()"><br>
	</fieldset>
</form>